/* src/components/ChatBot.css */

#body {
    position: relative;
}

#chat-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #2c344c;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

#chat-circle:hover {
    background-color: #0056b3; 
    opacity: 0.8;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.chat-box.visible {
    display: flex;
}

.chat-box-header {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.chat-box-toggle {
    cursor: pointer;
}

.chat-box-body {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-logs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%; /* Ensure it grows within its container */
    overflow-y: auto; /* Enable scrolling if needed */
}

.chat-msg {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-msg.self .msg-avatar img {
    border-radius: 50%;
}

.chat-msg.user .msg-avatar img {
    border-radius: 50%;
}

.cm-msg-text {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Styles for the loading state */
.chat-msg.loading {
    justify-content: center;
}

.chat-msg.loading .cm-msg-text {
    background: transparent;
    color: #0056b3;
    display: flex;
    align-items: center;
}

.chat-msg.loading .cm-msg-text::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid transparent;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

/* Animation for loading spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-wrapper .chat-submit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #0056b3;
    font-size: 1rem;
}

.icon {
    font-size: 1.5rem; /* Adjust size as needed */
}
.cm-msg-text a {
    color: #0056b3;
    text-decoration: underline;
}